#navigation{
    background: #42275a;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #734b6d, #42275a);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #734b6d, #42275a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 0 !important;
    margin : 0 !important;
}
.navbar-inverse{
    background: #42275a;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #734b6d, #42275a);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #734b6d, #42275a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 0 !important;
    margin: 0 !important;
    border :0 !important;
}
.navbar-inner a,a:visited{
    color :white !important;;
    font-size:15px;
}
.navbar-inner a:hover{
    color :orange !important;
}
.navbar-inner .brand{
    color: orange !important;
    font-size: 30px;
    text-decoration: none;
}
.navbar .brand:hover{
    color :white !important;
}

#message{
    margin-top:10vh;
    color :black;
    text-content: center;
}
#container{
    margin-top: 10vh;
    margin-left: 10vh;
    margin-right: 10vh;
    margin-bottom: 15vh;
}
body, html{
    padding: 0 !important;
    margin: 0!important;
}

.form-container{
    padding: 20px 40px 40px 40px;
    border: 2px solid black;
    -webkit-box-shadow: 0px 6px 22px 1px rgba(0,0,0,0.83);
    -moz-box-shadow: 0px 6px 22px 1px rgba(0,0,0,0.83);
    box-shadow: 0px 6px 22px 1px rgba(0,0,0,0.83);
//margin-bottom: 10vh;
}
.form-container h2{
    padding-bottom: 15px;
}
#footer{
    background: #42275a;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #734b6d, #42275a);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #734b6d, #42275a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin:0 auto;
    color: orange;
    height: 5vh;

}
#footer a{
    color : white !important;
}
#footer p{
    padding-top:1vh;
    background: none ;
}
#facebook i{
    padding-left: 10px;
}