html,body{
    font-family: 'Raleway', sans-serif !important;
    padding: 0 !important;
    margin: 0!important;
    width: 100%;
    height: 100%;
}

/*body, html{

}*/


#navigation{
    /*background: #42275a;*/  /* fallback for old browsers */
    /*background: -webkit-linear-gradient(to left, #734b6d, #42275a);  !* Chrome 10-25, Safari 5.1-6 *!
    background: linear-gradient(to left, #734b6d, #42275a); *//* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 /*   padding: 0 !important;
    margin : 0 !important;*/
    width: 100%;
    position: fixed;
    z-index: 9999;
    top: 0;
}

#navigation .container
{
   max-width: 100%;
    margin: 0;
    padding: 0;
    border-width: 0;
    border-radius: 0;
}


.navbar-inverse{
    background-color: black;
 /*   -webkit-border-radius: 0;!important;
    -moz-border-radius: 0;!important;*/
    border-radius: 0; !important;
    border-width: 0; !important

}
.navbar-inner a,a:visited{
    color :white !important;;
    font-size:15px;
}
.navbar-inner a:hover{
    color :white !important;
}
.navbar-inner .brand{
    color: white !important;
    font-size: 30px;
    text-decoration: none;
}
.navbar .brand:hover{
    color :white !important;
}

#message{
    margin-top:10vh;
    color :black;
    text-content: center;
}
#form-div{
    margin: 10vh;
}

.form-container{
    padding: 20px 40px 40px 40px;
    border: 2px solid #cccccc;

    box-shadow: 0 0 22px 1px rgba(0,0,0,0.83);
    margin-top: 10%;
    /*margin-bottom: 10vh;*/
}
.form-container h2{
    /*padding-bottom: 15px;*/
    margin-bottom: 8%;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 25px;
}

input{
    margin-bottom: 5%;
}
#footer{
    background: black;  /* fallback for old browsers */
    margin:0 auto;
    color: white;
    padding: 0;
    margin-bottom: 0;
    bottom: 0;
}
#footer a{
    color : white !important;
}
#footer p{
    padding-top:1vh;
    background: none ;
    margin-bottom: 0;
}
#facebook i{
    padding-left: 10px;
}
.forgot a,a:hover,a:visited{
    color : blue;
}
#facebook
{
    background-color: #3b5998;
}
#github
{
    background-color: #333;
}
/*
@media (min-width: 768px) {
    .navbar
    {
        border-width: 0;!important;
        border-radius: 0;!important;
    }
}*/
