#navigation{

    background-color: black !important;
    padding: 0 !important;
    margin : 0 !important;
}
.navbar-inverse{
    background-color: black !important;
    padding: 0 !important;
    margin: 0 !important;
}
.navbar-inner a,a:visited{
    color :white !important;;
    font-size:15px;
}
.navbar-inner a:hover{
    color :orange !important;
}
.navbar-inner .brand{
    color: orange !important;
    font-size: 30px;
    text-decoration: none;
}
.navbar .brand:hover{
    color :white !important;
}

#message{
    margin-top:10vh;
    color :black;
    text-content: center;
}
#container{
    margin-top: 18vh;
    margin-left: 10vh;
    margin-right: 10vh;
}

.form-container{
    padding: 20px 40px 40px 40px;
    border: 2px solid black;
    -webkit-box-shadow: 0px 6px 22px 1px rgba(0,0,0,0.83);
    -moz-box-shadow: 0px 6px 22px 1px rgba(0,0,0,0.83);
    box-shadow: 0px 6px 22px 1px rgba(0,0,0,0.83);
    margin-bottom: 7vh;
}
.form-container h2{
    padding-bottom: 15px;
}
#footer{
    margin:0 auto;
    padding:0;

}
#footer a{
    color : black !important;
}
